/* Contenedor principal */
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 71vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Título */
.titulo {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: #4b4b55;
  margin-bottom: 20px;
}

/* Barra y botón */
.barra-con-boton {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.boton-buscar {
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-buscar:hover {
  background-color: #45a049;
  transform: translateY(-3px);
}

/* Cuadro de búsqueda */
.cuadro-busqueda {
  width: 100%;
  max-width: 900px;
  height: 70vh;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

/* Lista de productos */
.lista-resultados {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.producto-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #aba7a7;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  border-left: 5px solid #4caf50;
  width: 100%;
}

.producto-nombre, .producto-precio, .producto-cantidad {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.producto-nombre {
  flex: 2;
}

.producto-precio, .producto-cantidad {
  flex: 1;
  text-align: center;
}

/* Botón de eliminar */
.boton-eliminar {
  background-color: #d83b3b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  margin: 3px;
}

.boton-eliminar:hover {
  background-color: #c91e1e;
  transform: scale(1.1);
}

/* Botón de editar */
.boton-editar {
  background-color: #1b55c0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  margin: 3px;
}

.boton-editar:hover {
  background-color: #0f3780;
  transform: scale(1.1);
}
/* ****************************** ESTILOS DEL FORMULARIO ****************************** */

/* Estilo del modal */
.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
  
  /* Estilo del formulario */
  .formulario {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    max-width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  /* Encabezado */
  .formulario h2 {
    text-align: center;
    font-size: 22px;
    color: #4b4b55;
    margin-bottom: 20px;
  }
  
  /* Grupos de campos */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Etiquetas */
  .form-label {
    display: block;
    font-weight: bold;
    color: #4b4b55;
    margin-bottom: 5px;
  }
  
  /* Estilo de los inputs */
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4b4b55;
    border-radius: 4px;
    background-color: #f7f1e1;
    color: #4b4b55;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
  }
  
  /* Efecto al enfocar */
  .form-input:focus {
    border-color: #4b4b55;
    outline: none;
    background-color: #fff;
  }
  
  /* Mensajes de error */
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Botones */
  .btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .btn-primary {
    background-color: #4b4b55;
    color: white;
    border: none;
  }
  
  .btn-primary:disabled {
    background-color: #ccc;
  }
  
  /* Estilos del botón "Guardar datos" del modal */
.boton-guardar {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.boton-guardar:hover {
  background-color: #3d613e;
  transform: scale(1.1);
}