<div class="contenedor">
    <h1 class="titulo">Agrega y elimina productos al sistema</h1>

    <div class="cuadro-busqueda">
        <div class="barra-con-boton">
            <button data-bs-toggle="modal" data-bs-target="#miModal"
             class="boton-buscar">Agregar producto al sistema</button>
        </div>

        <!-- Lista de tareas -->
        <ul class="lista-resultados">
            <li *ngFor="let producto of productosListos" class="producto-item">
              <span class="producto-nombre">{{ producto.username }}</span>
              <span class="producto-precio">${{ producto.precio }}</span>
              <span class="producto-cantidad">Cantidad: {{ producto.cantidad }}</span>
                <button (click)="eliminarProductos(producto._id)" class="boton-eliminar">Eliminar</button>
            </li>
             
        </ul>
    </div>
</div>



<!-- MODAL -->


<div class="modal fade" id="miModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agrega un producto al sistema</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                
                
                <!-- ***************************** -->
                <div  >
                    <form [formGroup]="myForm" class="formulario">
                       
                  
                      <!-- Campo Nombre -->
                      <div class="form-group">
                        <label for="username" class="form-label">Nombre del producto:</label>
                        <input
                          id="username"
                          formControlName="username"
                          type="text"
                          class="form-input"
                        />
                        <div
                          *ngIf="
                            myForm.get('username')?.invalid && myForm.get('username')?.touched
                          "
                          class="error-message"
                        >
                          <small *ngIf="myForm.get('username')?.errors?.['required']">
                            El nombre es requerido.
                          </small>
                        </div>
                      </div>
                  
                      <!-- Campo precio -->
                      <div class="form-group">
                        <label for="precio" class="form-label">Precio del producto:</label>
                        <input
                          id="precio"
                          formControlName="precio"
                          type="precio"
                          class="form-input"
                        />
                        <div
                          *ngIf="myForm.get('precio')?.invalid && myForm.get('precio')?.touched"
                          class="error-message"
                        >
                          <small *ngIf="myForm.get('precio')?.errors?.['required']">
                            El correo es requerido.
                          </small>
                          <small *ngIf="myForm.get('precio')?.errors?.['precio']">
                            El formato del correo no es válido.
                          </small>
                        </div>
                      </div>
                  
                      <!-- Campo cantidad -->
                      <div class="form-group">
                        <label for="cantidad" class="form-label">Cantidad del producto:</label>
                        <input
                          id="cantidad"
                          formControlName="cantidad"
                          type="cantidad"
                          class="form-input"
                        />
                        <div
                          *ngIf="
                            myForm.get('cantidad')?.invalid && myForm.get('cantidad')?.touched
                          "
                          class="error-message"
                        >
                          <small *ngIf="myForm.get('cantidad')?.errors?.['required']">
                            La contraseña es requerida.
                          </small>
                          <small *ngIf="myForm.get('cantidad')?.errors?.['edadInvalida']">
                            La contraseña es incorrecta
                          </small>
                        </div>
                      </div>
                
 
                      
                   
                    </form>
                  </div>
                  <!-- ***************************** -->

            </div>
            <div class="modal-footer">
                <button (click)="agregarProducto()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agregar producto</button>
            </div>
        </div>
    </div>
</div>
