/* Contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Título */
.titulo {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: #4b4b55;
    margin-bottom: 20px;
}

/* Cuadro de búsqueda */
.cuadro-busqueda {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Lista de productos */
.lista-resultados {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

.producto-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #aba7a7;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    border-left: 5px solid #4caf50;
    width: 96.5%;
}

/* Estilos del botón "Editar" */
.boton-editar {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.boton-editar:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.boton-editar:active {
    transform: scale(0.9);
}

/* Estilos del botón "Guardar datos" del modal */
.boton-guardar {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.boton-guardar:hover {
    background-color: #3d613e;
    transform: scale(1.1);
}

.boton-guardar:active {
    transform: scale(0.9);
}


/* ****************************************************************************** */

/* Contenedor de los campos en fila */
.form-row {
    
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Ajuste para los campos */
.form-group {
    flex: 1;
    min-width: 120px; /* Evita que se reduzcan demasiado en pantallas pequeñas */
}

.form-input{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e5d9d9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    border-left: 7px solid #4caf50;
    width: 96.5%;
}