/* Contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Título */
.titulo {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: #4b4b55;
}

/* Cuadro de búsqueda con scroll */
.cuadro-busqueda {
    width: 100%;
    max-width: 900px;
    height: 70vh;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

/* Lista de productos */
.lista-resultados {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.producto-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #aba7a7;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    border-left: 5px solid #4caf50;
    width: 100%;
}

.producto-nombre, .producto-precio, .producto-cantidad {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .producto-nombre {
    flex: 2;
  }
  
  .producto-precio, .producto-cantidad {
    flex: 1;
    text-align: center;
  }

/* Estilos del botón "Carrito" */
.boton-carrito {
    background-color: #1b8b6f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin: 10px;
}

.boton-carrito:hover {
    background-color: #115343;
    transform: scale(1.1);
}

/* Botón SUMAR */
.boton-sumar {
    background-color: #21bb7b;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.boton-sumar:hover {
    background-color: #1c6d47;
    transform: scale(1.1);
}




/* Botón RESTAR */
.boton-restar {
    background-color: #d84944;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.boton-restar:hover {
    background-color: #832b28;
    transform: scale(1.1);
}


/* ************** MODAL ************** */
.modal-ancho {
    max-width: 850px; /* Ajusta el ancho según sea necesario */
    width: 90%; /* O usa un porcentaje si quieres que se adapte */
}
.modal-body{
    width: 100%;
}

/* Cuadro de búsqueda con scroll */
.cuadro-busqueda-modal {
    width: 100%;
    max-width: 1000px;
    height: 55vh;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.modal-footer {
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    align-items: center; /* Alinea verticalmente */
    width: 100%;
}

.btn-secondary{
    margin: 5px;
} 

.modal-content{
    position: relative;
    display: flex
;
    flex-direction: column;
    width: 125%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

 

 