<div class="contenedor-principal">
<header>
    <div class="logo">La taberna de moe</div>
  </header>
   
  
  <section class="container">
    <!-- Cuadro de Iniciar Sesión -->
    <div class="card login">
      <h2>Iniciar sesión</h2>
      <img
          src="/assets/images/fotomoe.jpg"
          alt="Perfil"
          class="perfil-imagen"
        />
      <button routerLink="ingreso" class="btn">Ingresar</button>
    </div>
   
    <!-- Cuadro de Registro -->
    <div class="card register">
      <h2>Registrarse</h2>
      <img
          src="/assets/images/barney.png"
          alt="Perfil"
          class="perfil-imagen"
        />
      <div>
        <button routerLink="registro" class="btn">Registro</button>
         
     
      </div>
    </div>
  </section>
   
</div>


 