/* Contenedor general del formulario */
.contenedor-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Centrado en toda la pantalla */
  background: url('/assets/images/licor.jpg') no-repeat center center;
  background-size: cover;
}

/* Estilo del formulario */
.formulario {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px; /* Ajusta el tamaño del formulario */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centrar contenido */
}

/* Estilo de los campos del formulario */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

/* Etiquetas */
.form-label {
  font-weight: bold;
  color: #4b4b55;
}

/* Input */
.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #4b4b55;
  border-radius: 4px;
  background-color: #f7f1e1;
  color: #4b4b55;
}

/* Contenedor de los botones */
.contenedor-botones {
  display: flex;
  flex-direction: column; /* Asegura que los botones estén uno debajo del otro */
  gap: 10px;
  margin-top: 20px;
}

/* Botones */
.btn-login {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #4b4b55;
  border-radius: 30px;
  background-color: #198b5c;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: #115c3d;
}



/* Botones */
.btn-registro {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #4b4b55;
  border-radius: 30px;
  background-color: #3677ac;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.btn-registro:hover {
  background-color: rgb(36, 36, 202);
}